# Disaster Tweets Notebook

Predicting whether a given tweet is about a real disaster or not. If so, predict a 1. If not, predict a 0.

### Types of Disaster
* Geophysical (e.g. Earthquakes, Landslides, Tsunamis and Volcanic Activity)
* Hydrological (e.g. Avalanches and Floods)
* Climatological (e.g. Extreme Temperatures, Drought and Wildfires)
* Meteorological (e.g. Cyclones and Storms/Wave Surges)
* Biological (e.g. Disease Epidemics and Insect/Animal Plagues)

In [23]:
disaster_list = ['tsunami', 'disasters', 'volcano', 'tornado', 'avalanche', 'earthquake', 
                 'blizzard', 'drought', 'bushfire', 'tremor', 'dust storm', 'storm', 'magma',
                 'twister', 'windstorm', 'heat wave', 'cyclone', 'forest fire', 'flood', 'fire',
                 'hailstorm', 'lava', 'lightning', 'high-pressure', 'hail', 'hurricane', 
                 'seismic', 'erosion', 'whirlpool', 'Richter scale', 'whirlwind', 'dark cloud', 
                 'thunderstorm', 'barometer', 'gale', 'blackout', 'gust', 'force', 'low-pressure',
                 'volt', 'snowstorm', 'rainstorm', 'storm', 'nimbus', 'violent storm', 'sandstorm',
                 'casualty', 'Beaufort scale', 'fatal', 'fatality', 'cumulonimbus', 'death', 'lost',
                 'destruction', 'tension', 'cataclysm', 'damage', 'uproot', 'underground', 'destroy',
                 'arsonist', 'wind scale', 'arson', 'rescue', 'permafrost', 'fault', 'drown']

# Libraries

In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [103]:
import string, re
import nltk
from nltk import FreqDist, word_tokenize
from nltk.corpus import stopwords

# Data

In [104]:
train = pd.read_csv('data/train.csv')
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [100]:
test = pd.read_csv('data/test.csv')
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [101]:
submission = pd.read_csv('data/sample_submission.csv')
submission.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

# Exploration

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [8]:
train.describe()

                 id      target
count   7613.000000  7613.00000
mean    5441.934848     0.42966
std     3137.116090     0.49506
min        1.000000     0.00000
25%     2734.000000     0.00000
50%     5408.000000     0.00000
75%     8146.000000     1.00000
max    10873.000000     1.00000

In [9]:
train.keyword.value_counts()

fatalities               45
deluge                   42
armageddon               42
body%20bags              41
sinking                  41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

In [10]:
train.keyword.unique()

array([nan, 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

"A space is assigned number 32, which is 20 in hexadecimal. When you see “%20,” it represents a space in an encoded URL"

In [105]:
train.text[0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

In [106]:
train.text[1]

'Forest fire near La Ronge Sask. Canada'

In [107]:
train.text[2]

"All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected"

In [108]:
train.keyword.count()

7552

In [109]:
train.keyword.count()/len(train)

0.9919873899908052

In [20]:
test.keyword.count()/len(test)

0.9920318725099602

In [25]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

# Cleaning

In [29]:
# Remove all hyphens and quotes 
pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
train['text_tokens_raw'] = nltk.regexp_tokenize(train['text'], pattern)

TypeError: expected string or bytes-like object

In [110]:
sample = train.text.head()
sample

0    Our Deeds are the Reason of this #earthquake M...
1               Forest fire near La Ronge Sask. Canada
2    All residents asked to 'shelter in place' are ...
3    13,000 people receive #wildfires evacuation or...
4    Just got sent this photo from Ruby #Alaska as ...
Name: text, dtype: object

In [70]:
sample[3]

'13,000 people receive #wildfires evacuation orders in California '

In [48]:
type(sample[0])

str

In [111]:
pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
token_pattern = nltk.regexp_tokenize(sample[3], pattern)
token_pattern

['people', 'receive', 'wildfires', 'evacuation', 'orders', 'in', 'California']

In [112]:
token_pattern_lower = [word.lower() for word in token_pattern]
token_pattern_lower

['people', 'receive', 'wildfires', 'evacuation', 'orders', 'in', 'california']

In [113]:
token_pattern_lower_stopless = [word for word in token_pattern_lower if word not in stopwords_list]
token_pattern_lower_stopless

['people', 'receive', 'wildfires', 'evacuation', 'orders', 'california']

In [114]:
len(train.text)

7613

In [115]:
range(len(train.text))

range(0, 7613)

In [121]:
train.text[0]

'Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all'

In [119]:
pattern = "([a-zA-Z]+(?:'[a-z]+)?)"
new_column = []

for i in range(len(train.text)):
    token_pattern = nltk.regexp_tokenize(train.text[i], pattern)
    token_pattern_lower = [word.lower() for word in token_pattern]
    token_pattern_lower_stopless = [word for word in token_pattern_lower if word not in stopwords_list]
    new_column += token_pattern_lower_stopless

In [120]:
new_column

['deeds',
 'reason',
 'earthquake',
 'may',
 'allah',
 'forgive',
 'us',
 'forest',
 'fire',
 'near',
 'la',
 'ronge',
 'sask',
 'canada',
 'residents',
 'asked',
 'shelter',
 'place',
 'notified',
 'officers',
 'evacuation',
 'shelter',
 'place',
 'orders',
 'expected',
 'people',
 'receive',
 'wildfires',
 'evacuation',
 'orders',
 'california',
 'got',
 'sent',
 'photo',
 'ruby',
 'alaska',
 'smoke',
 'wildfires',
 'pours',
 'school',
 'rockyfire',
 'update',
 'california',
 'hwy',
 'closed',
 'directions',
 'due',
 'lake',
 'county',
 'fire',
 'cafire',
 'wildfires',
 'flood',
 'disaster',
 'heavy',
 'rain',
 'causes',
 'flash',
 'flooding',
 'streets',
 'manitou',
 'colorado',
 'springs',
 'areas',
 "i'm",
 'top',
 'hill',
 'see',
 'fire',
 'woods',
 "there's",
 'emergency',
 'evacuation',
 'happening',
 'building',
 'across',
 'street',
 "i'm",
 'afraid',
 'tornado',
 'coming',
 'area',
 'three',
 'people',
 'died',
 'heat',
 'wave',
 'far',
 'haha',
 'south',
 'tampa',
 'getting',
 'flooded',
 'hah',
 'wait',
 'second',
 'live',
 'south',
 'tampa',
 'gonna',
 'gonna',
 'fvck',
 'flooding',
 'raining',
 'flooding',
 'florida',
 'tampabay',
 'tampa',
 'days',
 "i've",
 'lost',
 'count',
 'flood',
 'bago',
 'myanmar',
 'arrived',
 'bago',
 'damage',
 'school',
 'bus',
 'multi',
 'car',
 'crash',
 'breaking',
 "what's",
 'man',
 'love',
 'fruits',
 'summer',
 'lovely',
 'car',
 'fast',
 'goooooooaaaaaal',
 'ridiculous',
 'london',
 'cool',
 'love',
 'skiing',
 'wonderful',
 'day',
 'looooool',
 'way',
 "can't",
 'eat',
 'shit',
 'nyc',
 'last',
 'week',
 'love',
 'girlfriend',
 'cooool',
 'like',
 'pasta',
 'end',
 'bbcmtd',
 'wholesale',
 'markets',
 'ablaze',
 'http',
 'co',
 'lhyxeohy',
 'c',
 'always',
 'try',
 'bring',
 'heavy',
 'metal',
 'rt',
 'http',
 'co',
 'yao',
 'e',
 'xngw',
 'africanbaze',
 'breaking',
 'news',
 'nigeria',
 'flag',
 'set',
 'ablaze',
 'aba',
 'http',
 'co',
 'nndbgwyei',
 'crying',
 'set',
 'ablaze',
 'plus',
 'side',
 'look',
 'sky',
 'last',
 'night',
 'ablaze',
 'http',
 'co',
 'qqsmshaj',
 'n',
 'phdsquares',
 'mufc',
 "they've",
 'built',
 'much',
 'hype',
 'around',
 'new',
 'acquisitions',
 'doubt',
 'set',
 'epl',
 'ablaze',
 'season',
 'inec',
 'office',
 'abia',
 'set',
 'ablaze',
 'http',
 'co',
 'imaomknna',
 'barbados',
 'bridgetown',
 'jamaica',
 'two',
 'cars',
 'set',
 'ablaze',
 'santa',
 'cruz',
 'head',
 'st',
 'elizabeth',
 'police',
 'superintende',
 'http',
 'co',
 'wdueaj',
 'q',
 'j',
 'ablaze',
 'lord',
 'check',
 'http',
 'co',
 'roi',
 'nsmejj',
 'http',
 'co',
 'tj',
 'zjin',
 'http',
 'co',
 'yduixefipe',
 'http',
 'co',
 'lxtjc',
 'kls',
 'nsfw',
 'outside',
 'ablaze',
 'alive',
 'dead',
 'inside',
 'awesome',
 'time',
 'visiting',
 'cfc',
 'head',
 'office',
 'ancop',
 'site',
 'ablaze',
 'thanks',
 'tita',
 'vida',
 'taking',
 'care',
 'us',
 'soooo',
 'pumped',
 'ablaze',
 'southridgelife',
 'wanted',
 'set',
 'chicago',
 'ablaze',
 'preaching',
 'hotel',
 'http',
 'co',
 'qknbfofx',
 'gained',
 'followers',
 'last',
 'week',
 'know',
 'stats',
 'grow',
 'http',
 'co',
 'tiyulif',
 'c',
 'west',
 'burned',
 'thousands',
 'wildfires',
 'ablaze',
 'california',
 'alone',
 'http',
 'co',
 'vl',
 'tbr',
 'wbr',
 'building',
 'perfect',
 'tracklist',
 'life',
 'leave',
 'streets',
 'ablaze',
 'check',
 'http',
 'co',
 'roi',
 'nsmejj',
 'http',
 'co',
 'tj',
 'zjin',
 'http',
 'co',
 'yduixefipe',
 'http',
 'co',
 'lxtjc',
 'kls',
 'nsfw',
 'first',
 'night',
 'retainers',
 'quite',
 'weird',
 'better',
 'get',
 'used',
 'wear',
 'every',
 'single',
 'night',
 'next',
 'year',
 'least',
 'deputies',
 'man',
 'shot',
 'brighton',
 'home',
 'set',
 'ablaze',
 'http',
 'co',
 'gwnrhmso',
 'k',
 'man',
 'wife',
 'get',
 'six',
 'years',
 'jail',
 'setting',
 'ablaze',
 'niece',
 'http',
 'co',
 'ev',
 'ahoucza',
 'santa',
 'cruz',
 'head',
 'st',
 'elizabeth',
 'police',
 'superintendent',
 'lanford',
 'salmon',
 'r',
 'http',
 'co',
 'vplr',
 'hka',
 'u',
 'http',
 'co',
 'sxhw',
 'tnnlf',
 'police',
 'arsonist',
 'deliberately',
 'set',
 'black',
 'church',
 'north',
 'carolina',
 'ablaze',
 'http',
 'co',
 'pcxarbh',
 'noches',
 'el',
 'bestia',
 'alexis',
 'sanchez',
 'happy',
 'see',
 'teammates',
 'training',
 'hard',
 'goodnight',
 'gunners',
 'http',
 'co',
 'uc',
 'j',
 'jhvgr',
 'kurds',
 'trampling',
 'turkmen',
 'flag',
 'later',
 'set',
 'ablaze',
 'others',
 'vandalized',
 'offices',
 'turkmen',
 'front',
 'diyala',
 'http',
 'co',
 'izfdyc',
 'cg',
 'truck',
 'ablaze',
 'r',
 'voortrekker',
 'ave',
 'outside',
 'tambo',
 'intl',
 'cargo',
 'section',
 'http',
 'co',
 'kscqkfkkf',
 'set',
 'hearts',
 'ablaze',
 'every',
 'city',
 'gift',
 'every',
 'skyline',
 'like',
 'kiss',
 'upon',
 'lips',
 'https',
 'co',
 'cyompz',
 'z',
 'sky',
 'ablaze',
 'tonight',
 'los',
 'angeles',
 "i'm",
 'expecting',
 'ig',
 'fb',
 'filled',
 'sunset',
 'shots',
 'know',
 'peeps',
 'west',
 'burned',
 'thousands',
 'wildfires',
 'ablaze',
 'california',
 'alone',
 'http',
 'co',
 'icsjgz',
 'te',
 'climate',
 'energy',
 'http',
 'co',
 'fxmn',
 'l',
 'bd',
 'revel',
 'wmv',
 'videos',
 'means',
 'mac',
 'farewell',
 'ablaze',
 'wmv',
 'en',
 'route',
 'dvd',
 'gtxrwm',
 'progressive',
 'greetings',
 'month',
 'students',
 'would',
 'set',
 'pens',
 'ablaze',
 'torch',
 'publications',
 'http',
 'co',
 'fxpixqujt',
 'rene',
 'ablaze',
 'amp',
 'jacinta',
 'secret',
 'k',
 'fallen',
 'skies',
 'edit',
 'mar',
 'https',
 'co',
 'mlmsuzv',
 'z',
 'navista',
 'steve',
 'fires',
 'something',
 'else',
 'california',
 'tinderbox',
 'clown',
 'setting',
 'hood',
 'ablaze',
 'news',
 'nowplaying',
 'rene',
 'ablaze',
 'amp',
 'ian',
 'buff',
 'magnitude',
 'http',
 'co',
 'av',
 'jsjfftc',
 'edm',
 'nxwestmidlands',
 'huge',
 'fire',
 'wholesale',
 'markets',
 'ablaze',
 'http',
 'co',
 'rwzbfvnxer',
 'ablaze',
 'time',
 'talk',
 'go',
 'know',
 'make',
 'due',
 'work',
 "can't",
 'kids',
 'cuz',
 'got',
 'bicycle',
 'accident',
 'amp',
 'split',
 'testicles',
 'impossible',
 'kids',
 'michael',
 'father',
 'accident',
 'w',
 'nashvilletraffic',
 'traffic',
 'moving',
 'slower',
 'usual',
 'https',
 'co',
 'ghk',
 'egj',
 'accident',
 'center',
 'lane',
 'blocked',
 'santaclara',
 'us',
 'nb',
 'great',
 'america',
 'pkwy',
 'bayarea',
 'traffic',
 'http',
 'co',
 'pmlohzurwr',
 'http',
 'co',
 'gkye',
 'gjtk',
 'personalinjury',
 'accident',
 'summer',
 'read',
 'advice',
 'amp',
 'see',
 'solicitor',
 'help',
 'otleyhour',
 'stlouis',
 'caraccidentlawyer',
 'speeding',
 'among',
 'top',
 'causes',
 'teen',
 'accidents',
 'https',
 'co',
 'k',
 'zomof',
 'https',
 'co',
 'kxvm',
 'cba',
 'car',
 'accident',
 'tee',
 'reported',
 'motor',
 'vehicle',
 'accident',
 'curry',
 'herman',
 'rd',
 'near',
 'stephenson',
 'involving',
 'overturned',
 'vehicle',
 'please',
 'use',
 'http',
 'co',
 'ybjezkurw',
 'bigrigradio',
 'live',
 'accident',
 'awareness',
 'mile',
 'marker',
 'south',
 'mooresville',
 'iredell',
 'vehicle',
 'accident',
 'ramp',
 'closed',
 'pm',
 'rt',
 'sleepjunkies',
 'sleeping',
 'pills',
 'double',
 'risk',
 'car',
 'accident',
 'http',
 'co',
 'nm',
 'fict',
 'accident',
 'knew',
 'gon',
 'happen',
 'https',
 'co',
 'ysxun',
 'vceh',
 'traffic',
 'accident',
 'n',
 'cabrillo',
 'hwy',
 'magellan',
 'av',
 'mir',
 'mile',
 'marker',
 'south',
 'mooresville',
 'iredell',
 'vehicle',
 'accident',
 'congestion',
 'pm',
 'pastor',
 'scene',
 'accident',
 'owner',
 'range',
 'rover',
 'mom',
 'get',
 'home',
 'fast',
 'wished',
 'mom',
 'accident',
 'truck',
 'spilt',
 'mayonnaise',
 'horrible',
 'car',
 'accident',
 'past',
 'sunday',
 "i'm",
 'finally',
 'able',
 'get',
 'around',
 'thank',
 'god',
 'wait',
 'see',
 'pissed',
 'donnie',
 'tell',
 'another',
 'accident',
 'truckcrash',
 'overturns',
 'fortworth',
 'interstate',
 'http',
 'co',
 'rs',
 'lj',
 'qfp',
 'click',
 'crash',
 'gt',
 'http',
 'co',
 'ld',
 'uniyw',
 'k',
 'accident',
 'ashville',
 'us',
 'sb',
 'sr',
 'traffic',
 'http',
 'co',
 'hylmo',
 'wgfi',
 'carolina',
 'accident',
 'motorcyclist',
 'dies',
 'crash',
 'car',
 'crossed',
 'median',
 'motorcycle',
 'rider',
 'traveling',
 'http',
 'co',
 'p',
 'lzrlmy',
 'fyi',
 'cad',
 'fyi',
 'accident',
 'property',
 'damage',
 'nhs',
 'piner',
 'rd',
 'horndale',
 'dr',
 'rt',
 'naayf',
 'first',
 'accident',
 'years',
 'turning',
 'onto',
 'chandanee',
 'magu',
 'near',
 'mma',
 'taxi',
 'rammed',
 'halfway',
 'turned',
 'everyone',
 'conf',
 'accident',
 'left',
 'lane',
 'blocked',
 'manchester',
 'rt',
 'nb',
 'eddy',
 'rd',
 'stop',
 'go',
 'traffic',
 'back',
 'nh',
 'delay',
 'mins',
 'traffic',
 'accident',
 'property',
 'damage',
 'piner',
 'rd',
 'horndale',
 'dr',
 'accident',
 'http',
 'co',
 'oia',
 'fxi',
 'gm',
 'fyi',
 'cad',
 'fyi',
 'accident',
 'property',
 'damage',
 'wpd',
 'th',
 'st',
 'pm',
 'traffic',
 'accident',
 'injury',
 'willis',
 'foreman',
 'rd',
 'http',
 'co',
 'vckit',
 'edev',
 'aashiqui',
 'actress',
 'anu',
 'aggarwal',
 'near',
 'fatal',
 'accident',
 'http',
 'co',
 'otfp',
 'lqw',
 'suffield',
 'alberta',
 'accident',
 'https',
 'co',
 'bptmlf',
 'p',
 'mile',
 'backup',
 'south',
 'accident',
 'blocking',
 'right',
 'lanes',
 'exit',
 'langtree',
 'rd',
 'consider',
 'nc',
 'nc',
 'nc',
 'alternate',
 'accident',
 'changed',
 'life',
 'help',
 'determine',
 'options',
 'financially',
 'support',
 'life',
 'care',
 'plans',
 'going',
 'treatment',
 'breaking',
 'deadly',
 'motorcycle',
 'car',
 'accident',
 'happened',
 'hagerstown',
 'today',
 "i'll",
 'details',
 'state',
 'whag',
 'flowri',
 'marinading',
 'accident',
 'car',
 'even',
 'week',
 'got',
 'fucking',
 'car',
 'accident',
 'mfs',
 "can't",
 'fucking',
 'drive',
 'norwaymfa',
 'bahrain',
 'police',
 'previously',
 'died',
 'road',
 'accident',
 'killed',
 'explosion',
 'https',
 'co',
 'gfjfgtodad',
 'still',
 'heard',
 'church',
 'leaders',
 'kenya',
 'coming',
 'forward',
 'comment',
 'accident',
 'issue',
 'disciplinary',
 'measures',
 'arrestpastornganga',
 'aftershock',
 'delo',
 'scuf',
 'ps',
 'live',
 'game',
 'cya',
 'man',
 'drive',
 'effort',
 'gets',
 'painful',
 'man',
 'win',
 'roger',
 'bannister',
 'ir',
 'icemoon',
 'aftershock',
 'http',
 'co',
 'ynxnvvkcda',
 'djicemoon',
 'dubstep',
 'trapmusic',
 ...]

In [129]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [132]:

pattern = "([a-zA-Z]+(?:'[a-z]+)?)"

# Remove all stopwords, punctuation, and numbers
stopwords_list = stopwords.words('english')
stopwords_list += list(string.punctuation)
stopwords_list += ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

# Create new column
new_list = []

for i in range(len(train.text)):
    token_pattern = nltk.regexp_tokenize(train.text[i], pattern)
    token_pattern_lower = [word.lower() for word in token_pattern]
    token_pattern_lower_stopless = [word for word in token_pattern_lower if word not in stopwords_list]
    new_list.append(token_pattern_lower_stopless)

In [133]:
# Add column to df
train['cleaned_text'] = new_list
train.head()

In [134]:
train.head()

,id,keyword,location,text,target,new_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,"[deeds, reason, earthquake, may, allah, forgiv..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,"[forest, fire, near, la, ronge, sask, canada]"
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,"[residents, asked, shelter, place, notified, o..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"[people, receive, wildfires, evacuation, order..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,"[got, sent, photo, ruby, alaska, smoke, wildfi..."

In [76]:
# Word tokenize didn't work
from nltk.tokenize import word_tokenize
train['tokenized_text'] = train['text'].apply(word_tokenize) 
train.head()

,id,keyword,location,text,target,text_lower,text_stopped,tokenized_text
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason of this #earthquake m...,our deeds are the reason of this #earthquake m...,"[Our, Deeds, are, the, Reason, of, this, #, ea..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask. canada,forest fire near la ronge sask. canada,"[Forest, fire, near, La, Ronge, Sask, ., Canada]"
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,all residents asked to 'shelter in place' are ...,all residents asked to 'shelter in place' are ...,"[All, residents, asked, to, 'shelter, in, plac..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or...","13,000 people receive #wildfires evacuation or...","[13,000, people, receive, #, wildfires, evacua..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby #alaska as ...,just got sent this photo from ruby #alaska as ...,"[Just, got, sent, this, photo, from, Ruby, #, ..."

In [86]:
# TweetTokenizer didn't work either
from nltk.tokenize import TweetTokenizer
tt = TweetTokenizer()
train['token_tweets'] = train['text'].apply(tt.tokenize)
train.head()

,id,keyword,location,text,target,text_lower,text_stopped,tokenized_text,token_text_stopped,token_tweets
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason of this #earthquake m...,our deeds are the reason of this #earthquake m...,"[Our, Deeds, are, the, Reason, of, this, #, ea...","[Our, Deeds, are, the, Reason, of, this, #, ea...","[Our, Deeds, are, the, Reason, of, this, #eart..."
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask. canada,forest fire near la ronge sask. canada,"[Forest, fire, near, La, Ronge, Sask, ., Canada]","[Forest, fire, near, La, Ronge, Sask, ., Canada]","[Forest, fire, near, La, Ronge, Sask, ., Canada]"
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,all residents asked to 'shelter in place' are ...,all residents asked to 'shelter in place' are ...,"[All, residents, asked, to, 'shelter, in, plac...","[All, residents, asked, to, 'shelter, in, plac...","[All, residents, asked, to, ', shelter, in, pl..."
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,"13,000 people receive #wildfires evacuation or...","13,000 people receive #wildfires evacuation or...","[13,000, people, receive, #, wildfires, evacua...","[13,000, people, receive, #, wildfires, evacua...","[13,000, people, receive, #wildfires, evacuati..."
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby #alaska as ...,just got sent this photo from ruby #alaska as ...,"[Just, got, sent, this, photo, from, Ruby, #, ...","[Just, got, sent, this, photo, from, Ruby, #, ...","[Just, got, sent, this, photo, from, Ruby, #Al..."

# Model

# Conclusion

# Future Work